[data-theme='light'] {
  --body-bg: hsl(0, 0%, 100%);
  --primary-bg-color: hsl(264deg 10% 14% / 12%);

  --editor-title-color: #2b292e;
  --primary-text-color: #2b292e;
  --default-text-color: #6a686e;
  --like-color: #d59090;

  --aside-bg-color: hsl(264, 6%, 98.5%);

  --snippet-list-active-box-shadow: 0px 0px 4px 0rem rgb(0 0 0 / 10%);

  --snippets-border-right: 1px solid #e5e5e6;
  --snippets-border-left: 1px solid #e5e5e6;

  /* input tag */

  --tag-input-tag-border: 1px solid #e5e5e6;
  --tag-input-tag-background-color: #fafafa;

  /* modal */
  --modal-backdrop-background-color: rgb(0 0 0/0.25);
  --modal-box-shadow: 0px 8px 25px rgb(43 41 46 / 10%);
  --modal-background: #ffffff;
  --modal-header-color: #2b292e;

  /* input */
  --default-input-border: 1px solid #e0e0e1;
  --default-input-background: transparent;
  --default-input-text-color: #6a686e;

  /* button */
  --btn-color: #545454;
  --btn-border: 1px solid #e0e0e1;
  --btn-hover-border: 1px solid #bababa;
  --btn-active-color: #545454;
}
[data-theme='light'] ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

[data-theme='light'] ::-webkit-scrollbar-thumb {
  background: #e0e0e1;
  border-right: 0px #e0e0e1 solid;
  background-clip: padding-box;
  border-radius: 4px;
}
[data-theme='light'] ::-webkit-scrollbar-track {
  background: transparent;
}

[data-theme='light'] ::placeholder {
  color: #6a686e;
  font-size: 12px;
}

[data-theme='light'] ::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border: 4px solid #908c97;
}
