html,
body {
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #252525;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
}

.btn-circle {
  border-radius: 50%;
  border: 1px solid #f0eaea;
}

.btn-circle:hover {
  border: 1px solid #b3afaf;
}

.btn:active {
  transform: scale(0.98);
  color: #000;
}

.input-inv {
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: inherit;
}

.input-inv:focus-visible {
  border: none;
  outline: none;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2px 0px 2px;
}

.CodeMirror {
  height: -moz-calc(100vh - 40px);
  height: -webkit-calc(100vh - 40px);
  height: -o-calc(100vh - 40px);
  height: calc(100vh - 40px);
}
