html,
body {
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  line-height: 30px;
}
input:focus {
  outline: none !important;
}


::placeholder {
  color: #f0eaea;
  font-size: 12px;
}


.input-inv {
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: inherit;
}

.input-inv:focus-visible {
  border: none;
  outline: none;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CodeMirror {
  height: -moz-calc(100vh - 40px);
  height: -webkit-calc(100vh - 40px);
  height: -o-calc(100vh - 40px);
  height: calc(100vh - 40px);
}
